<h1>All tasks</h1>

<%= link_to "Add a task", new_task_path %>

<% @tasks.each do |task| %>
  <h2><%= link_to task.name, task_path(task) %></h2>
  <p><%= task.description %></p>
  <%= link_to "Edit task", edit_task_path(task) %>
  <%= link_to "Remove task", task_path(task), method: :delete %>

<% end %>


<!-- @task = Task.find(params[:id]) -->

<!-- /tasks/:id/edit -->
